<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Selenium Check</title>
</head>
<body>
<h1>Selenium Check Page</h1>
<table border="1">
    <thead>
    <tr>
        <th>
            <h1>Result</h1>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr>

        <td>
            <h3 th:text="${done}"></h3>
        </td>
    </tr>
    </tbody>
</table>

<br>
<h3>Link : <a th:href="@{/check/list}">List Page</a></h3>

</body>
</html>
